{% extends "layout.html" %}

{% block body %}
    <div id="channels">
        <ul id="list-channels">
            {% for channel in channels %}
                <li class="channel" data-id="{{ channel.id }}">{{ channel.name }}</li>
            {% endfor %}
        </ul>
        <button id="create-channel">Create a new channel</button>
    </div>
    <div id="chat">
        <ul id="messages">
            {% for message in messages %}
                <li>{{ message.username }} ({{ message.timestamp | format_date}}): {{ message.message }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="input">
        <input type="text" name="text" id="text" autocomplete="off" placeholder="Enter your message"></textarea>
    </div>
{% endblock %}